@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .form-control {
        @apply block w-full rounded-md border bg-white border-gray-300 dark:bg-gray-600 dark:border-gray-800 dark:text-gray-300 shadow-sm;
    }
    .form-control:focus {
        @apply ring-1 ring-indigo-500 border-indigo-500 ring-opacity-50 border-opacity-25 bg-gray-100 dark:bg-gray-700 shadow-inner;
    }

    .form-checkbox {
        @apply rounded border-gray-300 text-indigo-500 shadow-sm;
    }
    .form-checkbox:focus {
        @apply border-indigo-300 ring ring-indigo-200 ring-opacity-50;
    }

    .form-radio {
        @apply rounded-full border-gray-300 text-indigo-600 shadow-sm;
    }
    .form-radio:focus {
        @apply border-indigo-300 ring ring-indigo-200 ring-opacity-50;
    }
}

.breadcrumb-item:not(:first-child)::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/";
}

::-webkit-scrollbar {
    width: 4px;
    height: 3px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-md;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600;
}